#page-header.blog-header{
    background-image: url("blog-banner.webp");
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
    margin-left: 20px;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 700;
    transition: 0.2s ease;
}
#blog .blog-details a:hover{
    color: rgb(19, 127, 91);
}
#pagination.blog-pag{
    background-color: white;
}



/* Scroll effect */

